<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tic-Tac XO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>044F81031BEC44F800AEFEEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044F81171BEC44F800AEFEEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044F81221BEC44F800AEFEEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
